.juejin-miming-controls {
  background-color: #3c7eff;
  border: 2px solid #bedaff;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.juejin-miming-controls label {
  list-style: none;
  width: 100%;
}

.juejin-miming-cmd {
  display: flex;
  flex-direction: column;
}

.juejin-miming-btn {
}
